
body {
    background-image: url(Images/background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    background-color: #96d9ff;

    margin: 0;
    padding: 0;
}

.content {
    padding: 20px;
}